.col-prenotata {
  flex: 0 0 130px;
}

.col-date-concessione-sospensione {
  flex: 0 0 321px;
}

.col-istanze-provvedimenti {
  flex: 0 0 445px;
}

.col-accordion-istanza {
  flex: 0 0 155px;
}

.col-accordion-provvedimento {
  flex: 0 0 220px;
}

.ga-mt-38 {
  margin-top: 38px;
}

.ga-mt-51-5 {
  margin-top: 51.5px;
}

.ga-mr-70 {
  margin-right: 70px;
}

.ga-mr-115 {
  margin-right: 115px;
}

.ga-mr-209 {
  margin-right: 209px;
}

.r-ml---5 {
  margin-left: -5px;
}

.container-accordion,
.container-table-ip {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 4px 8px #C4C4C4;
  opacity: 1;
}

.container-table-ip {
  padding: 10px 10px 0px 10px !important;
}