.card-main-content {
  padding-bottom: 40px;
}

.dati-contabili-nav {
  display: none;
}

.principal-div {
  padding-bottom: 30px;
}

.card-main-content {
  padding: 0px 20px;
  margin-bottom: 0;
  background-color: #FFFFFF;
  border: 0px;
}

.col-recapito-alternativo {
  flex: 0 0 490px;
}

.col-recapito-alternativo-accordion {
  flex: 0 0 255px;
}

// Il bottone è troppo alto per 1 px
.btn-cerca-titolare {
  margin-top: 1px;
}

.dasd-mt-22 {
  margin-top: 22px;
}

.row-cerca-titolare {
  margin-top: -42px;
}