.card-main-content {
  padding: 0px 20px 40px 20px;
  margin-bottom: 0px;
  background-color: #FFFFFF;
  border: 0px;
}

.col-recapito-alternativo {
  flex: 0 0 360px;
}

.col-recapito-alternativo-accordion {
  flex: 0 0 255px;
}