<!-- INPUT -->
<!-- <div class="form-group risca-form-group"> -->
  <!-- FORM GROUP -->
  <!-- <div class="form-group risca-form-group" [ngClass]="cssConfig.customForm"> -->

    <!-- LABEL -->
    <!-- <risca-input-label
      [cssConfig]="cssConfig"
      [dataConfig]="dataConfig"
      [idFormControl]="idFC"
      [formGroup]="formGroup"
      [disableRequiredCheck]="disableRequired"
    ></risca-input-label> -->

    <!-- INJECTION DEL TEMPLATE DEL CHIAMANTE -->
    <!-- <ng-content></ng-content> -->

    <!-- FORM CONTROL - GESTIONE ERRORI -->
    <!-- <risca-form-control-error
      [cssConfig]="cssConfig"
      [idFormControl]="idFC"
      [formGroup]="formGroup"
      [errMapFormControl]="mappaErroriFC"
      [formSubmitted]="formSubmitted"
    ></risca-form-control-error> -->
    <!-- FORM GROUP - GESTIONE ERRORI -->
    <!-- <risca-form-group-error
      [cssConfig]="cssConfig"
      [formGroup]="formGroup"
      [errMapFormGroup]="mappaErroriFG"
      [formSubmitted]="formSubmitted"
    ></risca-form-group-error> -->

  <!-- </div>
</div> -->