<!-- Footer -->
<footer class="bg-primary f-mt-75">
  <div class="container-fluid">
    <div class="row footer-logo">
      <div class="col-4">
        <img src="assets/icon-footer-regione.svg" class="logo-left"  alt="Footer regione Piemonte"/>
      </div>

      <div class="col-4 f-a-c">
        <img src="assets/icon-footer-eu-x2.png" class="logo-center"  alt="Footer regione Unione Europea x2"/>
      </div>

      <div class="col-4 f-a-r">
        <img src="assets/icon-footer-piemonte-x2.png" class="logo-right" alt="Footer regione Piemonte x2"/>
      </div>

    </div>
  </div>
</footer>

<footer class="bg-second-blue">
  <div class="container-fluid">
    <div class="row footer-logo">
      <div class="col-6">
        <img src="assets/icon-servizi-online.svg" class="logo-left" alt="Logo CSI"/>
      </div>
      <div class="col-6 text-right">
        <img src="assets/Logo CSI.svg" class="logo-right" alt="Logo CSI"/>
      </div>
    </div>
  </div>
</footer>

<footer class="bg-second-blue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <hr class="hr-footer">
      </div>
    </div>
    <div class="d-flex flex-row footer-link-group">
      <div class="footer-link-label">Accessibilit&agrave;</div>
      <div class="footer-link-label">Note legaly e privacy</div>
      <div class="footer-link-label">Cookie policy</div>
    </div>
  </div>
</footer>
<!-- /Footer -->