.r-mr--66 {
  margin-right: 66px;
}

.bold {
  font-weight: bold;
}

.col-assegna-importo {
  flex: 0 0 100px;
}

.rpb-col-blocco-dati {
  flex: 0 0 650px;
}

.rpb-dati-lettura {
  font-weight: bold;
}

.rpb-row-dati-lettura {
  margin-bottom: 2.5px;
}

.rpb-row-dati-lettura > .col:first-child {
  flex: 0 0 255px;
}

.rpb-img-bollettino {
  height: 325px;
  width: 450px;
  cursor: zoom-in;
}

.rpb-mini-img {
  height: 10px !important;
  width: 10px !important;
}

.rpb-mr-270 {
  margin-right: 270px;
}

.rpb-mt-22 {
  margin-top: 22px;
}

.rpb-ml-183 {
  margin-left: 183px;
}

.col-label-ricerca-puntuale {
  flex: 0 0 110px;
}

.col-label-ricerca-titolare {
  flex: 0 0 90px;
}

.col-ricerca-puntuale {
  flex: 0 0 480px;
}

.col-ricerca-titolare {
  flex: 0 0 480px;
}
