.container-rtp {
  padding: 0px;
}

button {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 40px;
}

.r-a-img {
  width: 20px;
  height: 20px;
}

.col-icon {
  flex: 0 0 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.float-right {
  float: right !important;
}

.dots {
  display: inline-block;
}

.dots:hover {
  cursor: default;
}

.col-mostra-totale {
  margin-top: auto;
  margin-bottom: auto;
}

.col-mostra-vaiA-input {
  flex: 0 0 163px;
  margin-top: auto;
  margin-bottom: auto;
}

.col-mostra-vaiA-btn {
  flex: 0 0 108px;
}
