<div class="card-box card-box-internal">

  <!-- TESTATA INIZIALE -->
  <div class="row">
    <div class="col risca-common-label">
      La funzionalità individua tutti gli stati debitori per i quali risulta un versamento in eccesso rispetto al dovuto per gestire gli eventuali rimborsi o la compensazione con le annualità successive.
    </div>
  </div>

  <div class="row r-m-intL-t">
    <div class="col">
      <!-- FORM DI RICERCA-->
      <risca-ricerca-rimborsi #riscaRicercaRimborsi
        [filtriIniziali]="filtriSDRIniziali"
        (onFormSubmit)="onFiltriReady($event)"
        (onFormErrors)="onComponenteErrors($event)"
        (onEmitServiziError)="handleServiziError($event)"
      ></risca-ricerca-rimborsi>
    </div>
  </div>

  <!-- STRUTTURA DEL DOM NEL CASO IN CUI CI SONO RISULTATI PER LA RICERCA -->
  <ng-container *ngIf="checkTableRicerca">
    
    <risca-separator></risca-separator>

    <!-- TITOLO TABELLA -->
    <div class="d-flex flex-row">
      <div class="risca-head-section-label">
        Elenco rimborsi
      </div>
    </div>

    <!-- TABELLA DI RICERCA -->
    <div class="row r-m-intL-t">
      <div class="col">
        <risca-table #tableSDRimborsi
          [cssConfig]="ricercaSDxRimborsiTable.cssConfig"
          [dataConfig]="ricercaSDxRimborsiTable.dataConfig"
          [source]="ricercaSDxRimborsiTable.source"
          [sourcesSelected]="ricercaSDxRimborsiTable.sourceSelected"
          [comparatorRows]="ricercaSDxRimborsiTable.comparatorRows"
          [comparatorOriginals]="ricercaSDxRimborsiTable.comparatorOriginals"
          [isFETable]="false"
          [allSelectedDisableRowsCheck]="true"
          [tutteLeRigheSelezionate]="ricercaSDxRimborsiTable.tutteLeRigheSelezionate"
          (onCambioPagina)="cambiaPagina($event)"
          (onAllCheckboxesChange)="onTuttiSDSelezionati($event)"
          (onCheckboxesChecked)="onStatiDebitoriSelezionati($event)"
          (onRowDetail)="onDettaglioRimborso($event)"
          (onRowCustomAction)="onSDCustomAction($event)"
        ></risca-table>
      </div>
    </div>

    <!-- VISUALIZZAZIONE RISULTATI TABELLA -->
    <div class="row r-m-intL-t">
      <div class="col col-table-sd-selezionati">
        <div class="risca-accordion-container">

          <!-- ACCORDION -->
          <div class="row">
            <div class="col-auto">
    
              <!-- ACCORDION STATI DEBITORI SELEZIONATI -->
              <risca-accordion-switch
                [label]="RR_C.ACCORDION_SD_SELEZIONATI"
                [accordionAperto]="sdSelezionatiApriChiudi"
                (onAccordionClick)="toggleSDSelezionati($event)"
              ></risca-accordion-switch>
    
            </div>
          </div>

          <!-- CONTENITORE DEGLI STATI DEBITORI SELEZIONATI -->
          <div riscaDisplay [showOn]="sdSelezionatiApriChiudi">
            
            <!-- STATI DEBITORI SELEZIONATI MANUALMENTE CON DATI -->
            <div class="row r-m-intL-t" *ngIf="!allSDSelezionati && checkSDSelezionati">
              <div class="col">
                <!-- TRACCIATORE DELLE SELEZIONI DEGLI STATI DEBITORI -->
                <risca-table-trace-selections
                  [cssConfig]="sdSelezionatixRimborsiTable.cssConfig"
                  [dataConfig]="sdSelezionatixRimborsiTable.dataConfig"
                  [source]="sdSelezionatixRimborsiTable.source"
                  (onRowDelete)="rimuoviSDSelezionato($event)"
                ></risca-table-trace-selections>
              </div>
            </div>
            <!-- STATI DEBITORI SELEZIONATI MANUALMENTE SENZA DATI -->
            <div class="row r-m-intL-t" *ngIf="!allSDSelezionati && !checkSDSelezionati">
              <div class="col">
                {{ RR_C.LABEL_NESSUN_SD_SELEZIONATO }}
              </div>
            </div>

            <!-- TUTTI STATI DEBITORI SELEZIONATI DA CHECK IN TESTATA -->
            <div class="row r-m-intL-t" *ngIf="allSDSelezionati">
              <div class="col">
                {{ RR_C.LABEL_TUTTI_SD_SELEZIONATI }}
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    
    <!-- ATTIVITA' D'APPLICARE AGLI STATI DEBITORI -->
    <div class="row r-m-intL-t">
      <div class="col">
        <form [formGroup]="mainForm">
          <div class="d-flex flex-row">
            
            <div class="r-mr--40">
              <!-- ATTIVITA RIMBORSO' -->
              <risca-select 
                [formControlName]="RR_C.ATTIVITA_RIMBORSO_SD"
                [idFormControl]="RR_C.ATTIVITA_RIMBORSO_SD"
                [cssConfig]="formInputs.attivitaRimborsoConfig.css"
                [dataConfig]="formInputs.attivitaRimborsoConfig.data"
                [errMapFormControl]="EM.MAP_FORM_CONTROL_REQUIRED"
                [errMapFormGroup]="EM.MAP_FORM_GROUP_REQUIRED"
                [formGroup]="mainForm"
                [formSubmitted]="mainFormSubmitted"
                [dataSource]="listaAttivitaStatoDeb"
                [propertyToShow]="RR_C.PROPERTY_ATTIVITA_RIMBORSO_SD"
                [disableRequiredCheck]="false"
              ></risca-select>
            </div>
            
            <div class="rr-mt-24">
              <!-- APPLICA ATTIVITA RIMBORSO' AGLI SD SELEZIONATI -->
              <risca-default-button 
                [dataConfig]="RR_C.BTN_APPLICA_ATTIVITA_RIMBORSO"
                [disable]="!checkSDSelezionati"
                (onClick)="onFormSubmit()">
              </risca-default-button>
            </div>
            
          </div>
        </form>
      </div>
    </div>

    <risca-separator></risca-separator>
        
    <!-- BOTTONI PER AVVIO RICERCA -->
    <div class="button-group">
      <!-- CONTAINER -->
      <div class="row">
        <div class="col">
          <!-- ANNULLA -->
          <risca-link-button
            [dataConfig]="C_C.BTN_ANNULLA"
            (onClick)="annullaRicerca()">
          </risca-link-button>
        </div>
        <div class="col text-right">
          <!-- CREA REPORT -->
          <risca-button
            [dataConfig]="C_C.BTN_CREA_REPORT"
            [cssConfig]="C_C.CSS_CREA_REPORT"
            [disable]="!checkFiltriSDRimborsi"
            (onClick)="creaReport()">
          </risca-button>
        </div>
      </div>
    </div>

  </ng-container>

</div>