<div class="container-fluid r-plr--0">
  <form [formGroup]="mainForm" (ngSubmit)="onFormSubmit()">
  
    <div class="row">
      <div class="col">
        <div class="d-flex flex-row">

          <div class="r-mr--40">
            <!-- SOGLIA -->
            <risca-number-it-format
              [formControlName]="RCMF_C.SOGLIA"
              [idFormControl]="RCMF_C.SOGLIA"
              [cssConfig]="formInputs.sogliaConfigs.css"
              [dataConfig]="formInputs.sogliaConfigs.data"
              [errMapFormControl]="EM.MAP_REGOLA_SOGLIA"
              [formGroup]="mainForm"
              [formSubmitted]="mainFormSubmitted"
              [disableRequiredCheck]="false"
            ></risca-number-it-format>
          </div>
          
          <div class="r-mr--40">
            <!-- MINIMO INFERIORE -->
            <risca-number-it-format
              [formControlName]="RCMF_C.MINIMO_INFERIORE"
              [idFormControl]="RCMF_C.MINIMO_INFERIORE"
              [cssConfig]="formInputs.minimoInferioreConfigs.css"
              [dataConfig]="formInputs.minimoInferioreConfigs.data"
              [errMapFormControl]="EM.MAP_REGOLA_SOGLIA_MINIMO_INFERIORE"
              [formGroup]="mainForm"
              [formSubmitted]="mainFormSubmitted"
              [disableRequiredCheck]="false"
            ></risca-number-it-format>
          </div>

          <div class="">
            <!-- MINIMO SUPERIORE -->
            <risca-number-it-format
              [formControlName]="RCMF_C.MINIMO_SUPERIORE"
              [idFormControl]="RCMF_C.MINIMO_SUPERIORE"
              [cssConfig]="formInputs.minimoSuperioreConfigs.css"
              [dataConfig]="formInputs.minimoSuperioreConfigs.data"
              [errMapFormControl]="EM.MAP_REGOLA_SOGLIA_MINIMO_SUPERIORE"
              [formGroup]="mainForm"
              [formSubmitted]="mainFormSubmitted"
              [disableRequiredCheck]="false"
            ></risca-number-it-format>
          </div>
        
        </div>
      </div>
    </div>

  </form>
</div>