.btn-alpha-x:focus {
  outline: none !important;
}

.modal-header-alpha {
  padding-left: 30px !important;
}

.modal-title-alpha {
  font-size: 20px !important;
}

.modal-body-alpha {
  font-size: 16px !important;
  padding-top: 40px !important;
  padding-bottom: 62px !important;
  padding-left: 30px !important;
}

.modal-body-message2 {
  margin-top: 18px;
}

.modal-footer-alpha {
  padding-top: 29.3px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 28px;
}

.btn-alpha-annulla {
  padding-left: 0px;
  padding-right: 0px;
  color: #016cb4;
}
