<div class="r-m-intL-t">
  <!-- FILO ARIANNA -->
  <risca-filo-arianna></risca-filo-arianna>
</div>

<div *ngIf="navExists">
  <ul ngbNav #ngbNavList="ngbNav" class="nav r-ngb-nav-2"
    [(activeId)]="tabActive"
    [destroyOnHide]="destroyOnHide" 
  >
    <ng-container *ngFor="let nav of riscaNav.navs; let i = index">
      <li class="nav-item" [ngbNavItem]="nav.ngbNavItem" [disabled]="nav.disabled">
        <a ngbNavLink [id]="nav.ngbNavItem"
          [ngClass]="[(i | riscaNavLinkClass:riscaNav:nav2ndLvlClass)]"
          (click)="cambiaNav(nav.ngbNavItem)"
        >
          <div>{{ nav.label }}</div>
        </a>
        <ng-template ngbNavContent>
          <div class="tab-pane fade show" [id]="nav.ngbNavItem">

            <!-- CANONI -->
            <ng-container *riscaMaintain="(riscaNav.NAV_CANONI | caricaNavContent:nav:pageTarget:configurazioniNavIdLinks.canoni)">
              <canoni></canoni>
            </ng-container>
            <!-- TASSI D'INTERESSE -->
            <ng-container *riscaMaintain="(riscaNav.NAV_TASSI_INTERESSE | caricaNavContent:nav:pageTarget:configurazioniNavIdLinks.tassiDiInteresse)">
              <tassi-di-interesse></tassi-di-interesse>
            </ng-container>
            <!-- PARAMETRI DELLA DILAZIONE -->
            <ng-container *riscaMaintain="(riscaNav.NAV_PARAMETRI_DILAZIONE | caricaNavContent:nav:pageTarget:configurazioniNavIdLinks.parametriDellaDilazione)">
              <parametri-dilazione></parametri-dilazione>
            </ng-container>
            <!-- ALTRI PARAMETRI -->
            <ng-container *riscaMaintain="(riscaNav.NAV_ALTRI_PARAMETRI | caricaNavContent:nav:pageTarget:configurazioniNavIdLinks.altriParametri)">
              <altri-parametri></altri-parametri>
            </ng-container>

          </div>
        </ng-template>
      </li>
    </ng-container>
  </ul>

  <!-- TAB CONTENT CONTAINER -->
  <div class="tab-content" id="tabAzioniPratica" [ngbNavOutlet]="ngbNavList"></div>
</div>