.col-icon {
  flex: 0 0 10px;
}

.risca-form-check {
  padding-left: 0px;
}

.risca-form-check-input {
  position: unset;
  margin-top: 0px;
  margin-left: 0px;
}

.risca-sub-row {
  border-top: 0px !important;
}