.card-main-content {
  padding: 0px 20px 0px 20px;
  margin-bottom: 0;
  background-color: #ffffff;
  border: 0px;
}

.col-versamenti {
  flex: 0 0 445px;
}

.col-accordion-versamento {
  flex: 0 0 200px;
}