/* Chrome, Safari, Opera */
.no-stepper::-webkit-outer-spin-button,
.no-stepper::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-stepper[type=number] {
  -moz-appearance: textfield;
}