.rfa-container div {
  display: inline-block;
}

.rfa-step {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Open Sans';

  letter-spacing: 0px;
  color: #000000;
}

.rfa-arrow {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Open Sans';

  margin: 0px 10px;
}