<div
  *ngIf="showMessages"
  class="alert risca-alert"
  [ngClass]="[
    containerClass,
    containerLayout,
    configs?.containerCss | riscaCssHandler: C_C.CSS_TYPE_CLASS
  ]"
  [ngStyle]="configs?.containerCss | riscaCssHandler: C_C.CSS_TYPE_STYLE"
>
  <!-- pulsante di chiusura X -->
  <div *ngIf="showCloseButton" class="buttonX">
    <risca-button
      [cssConfig]="{ customButton: 'risca-btn-x close', typeButton: '' }"
      [dataConfig]="{ label: '&times;' }"
      (onClick)="alertClose()"
    ></risca-button>
  </div>

  <!-- RIGA DI TESTATA CON DATI E CHECK -->
  <div class="modal-body risca-modal-body">
    <div class="row row-icon">
      <div class="col col-icon">
        <img [src]="srcIcon" class="r-a-img" alt="TipologiaMessaggio" />
      </div>
      <div class="col">
        <div class="row" *ngFor="let alertMessage of alertMessages">
          <div class="col">
            <div [innerHTML]="alertMessage | riscaInnerHTML"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <!-- RIGA DI "FONDO" ALERT, CHE VISUALIZZA PULSANTI PER LA CONFIRM/CANCEL DELL'ALERT -->
        <ng-container *ngIf="showAlertButtons">
          <div class="row r-mt--30 r-ml--70">
            <div>
              <!-- BOTTONE DISMISS -->
              <ng-container *ngIf="buttonCancel">
                <risca-button
                  [cssConfig]="buttonCancel.cssConfig"
                  [dataConfig]="buttonCancel.dataConfig"
                  (onClick)="alertCancel()"
                >
                </risca-button>
              </ng-container>
            </div>

            <div class="r-ml--30">
              <!-- BOTTONE CONFERMA -->
              <ng-container *ngIf="buttonConfirm">
                <risca-button
                  [cssConfig]="buttonConfirm.cssConfig"
                  [dataConfig]="buttonConfirm.dataConfig"
                  (onClick)="alertConfirm()"
                >
                </risca-button>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    
  </div>
</div>
